.utente img{
    width: 2.5em;
    height: 2.5em;
    


}
.rev{
    color: #009999;;
}


.testo{
    padding: 4%;
}


.alunni{
    margin-top: 8%;
    margin-bottom: 3%;

    
}

.reviews img{
    width: auto;
}
.articolo{
    width: 40%;
    margin: 4%;
    
}
.TGCOM{
    width: 31%;

}

.Lastampa{
    width: 40%;
    margin: auto;
}

