@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');


.supercorsi{
  font-family: 'Roboto', sans-serif;
}

.box1b{
  padding-bottom: 1%;
  width: 100%;
  height: 300px;
}

.box2b{
    width: 100%;
    height: 942px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0.5%;
  }


  .riquadro1{
    width: 100%;
    height: 95%;
  }

  .riquadro2{
    width: 100%;
    height: 95%;
  }

  .riquadro3{
    width: 100%;
    height: 95%;
  }

  .riquadro4{
    width: 100%;
    height: 95%;
  }

  .card1{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.8s ease;
    cursor: pointer;
  }

  .card2{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.8s ease;
    cursor: pointer;
  }

  .card3{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.8s ease;
    cursor: pointer;
  }
  
  .card4{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.8s ease;
    cursor: pointer;
  }

  .fronte{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color:  rgba(0, 0, 0, 0.06);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 300px;
    border-radius: 55px;
    box-shadow: 0px 10px 4px 2px rgba(0, 0, 0, 0.25);
  }

  .retro{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background:rgba(0, 0, 0, 0.06);
    color:black;
    transform:rotateY(180deg);
    display: flex;
    align-items: center;
    border-radius: 55px;
    box-shadow: 0px 10px 4px 2px rgba(0, 0, 0, 0.25);
    padding-left: 2%;
    padding-right: 2%;
  }
  
  .corsi1{
    display: grid;
    grid-template-columns: 90% 20%;   
    line-height: 400%;
  }

  .corsi2{
    font-size: 22px;
    text-align: left;
  }

  .corsi3{
    background-color:#F27D2C;
    font-size: 40px;
    text-align: center;
  }

  .corsi4{
    display: flex;
    align-items: right;
  }

  .icons2{
    width: 30%;  
  }

.flipCard1{
  transform: rotateY(180deg);
}

.flipCard2{
  transform: rotateY(180deg);
}

.flipCard3{
  transform: rotateY(180deg);
}

.flipCard4{
  transform: rotateY(180deg);
}

.box3b{
  width: 100%;
  height: 50px;
  justify-content: center;
  text-align: center;
  background-color: white;
  } 

#bottone1b{
  font:500;
  background-color: #009999;
  border: none;
  border-radius: 55px;
  width: 10%;
  height: 100%;
  color: white;
  font-weight: bold;
  font-size: 24px;
}